@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "Montserrat", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 12%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
}

.apresentacao {
    display: flex;
    align-items: center;
    padding: 5% 12%;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-family: var(--font-primaria);
    font-size: 2.25rem;
}

.apresentacao__conteudo__titulo_destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__titulo_destaque:hover {
    color: var(--cor-hover);
}

.apresentacao__conteudo_texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
}

.apresentacao__conteudo__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.apresentacao__conteudo__links__subtitulo {
    font-size: 1.5rem;
    font-family: var(--font-primaria);
    font-weight: 400;
}

.apresentacao__conteudo__links__navegacao {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    padding: 16px 0px;
    color: var(--cor-secundaria);
}

.apresentacao__conteudo__links__navegacao:hover {
    background-color: var(--cor-hover);
}

.apresentacao_img {
    width: 50%;
}

.rodape {
    padding: 24px;
    background-color: var(--cor-terciaria);
    text-align: center;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        align-items: center;
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}