body {
    background-color: #000000;
    color: #F0F8FF;
}

strong {
    color: #22D4FD;
}

a {
    background-color: #22D4FD;
    color: #000000;
    font-size: 24px;
    line-height: 23px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 16px 60px;
    margin: 16px;
    border-radius: 16px;
}